{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <section class="py-2">
    <div class="container shadow border border-1 rounded d-flex justify-content-center p-5" style="max-width: 60vh; min-height: 70vh;">
      <div>
        <figure class="figure d-flex justify-content-center">
          {% load static %}
          <img src="{% static 'images/images-default/Icontransparent.png' %}" alt="logo do SEA" class="d-flex justify-content-center" style="height: 20vh;" />
        </figure>
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">Usuário ou senha incorretos. Tente novamente.</div>
        {% endif %}

        <form action="" method="POST">
          {% csrf_token %}

          {% bootstrap_form form %}
          <div class="container mb-1 d-flex justify-content-center gap-2">
            <input type="submit" value="Entrar" class="btn btn-primary" />

            <a href="{% url 'app_login:urlcad_usuario' %}" class="btn btn-outline-secondary">
              Cadastrar
            </a>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
