{% extends 'basepwa.html' %}
{% load static %}

{% block title %}
  Início - XXIX Colóquio de Usinagem
{% endblock %}

{% block pre_script %}
    <script src="https://unpkg.com/html5-qrcode"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/qrcode.css' %} ">
{% endblock %}



{% block content %}
  <div>
    <nav class="navbar">
      <div>
        <!--<h1>Evento IFSC</h1>-->
      </div>
    </nav>
  </div>
  <div>
    <main class="principal">
      <div>
        <h2>Leitor</h2>
        <div id="reader"></div>
        <div id="resultado">Aguardando QR Code...</div>
      </div>

      <div>
        <button class="button-quiz">Ir para o Quiz</button>
      </div>
    </main>
  </div>
  <div>
    <footer class="rodape">
      <div>
        
      </div>
    </footer>
  </div>
{% endblock %}

{% block extra_js %}
 <script>
      const resultadoDiv = document.getElementById('resultado')
      let processando = false
      async function validarNoServidor(codigoLido) {
      // processando = true;
      if (processando) return // ISSO AQUI É O FREIO DE MÃO
      processando = true
      console.log('processando = true')
      try {
          const response = await fetch('identificar/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
          },
          
          body: JSON.stringify({ codigo: codigoLido })
          })
          
          const dados = await response.json()
          console.log('header')
          if (dados.autorizado) {
          html5QrCode
              .stop()
              .then(() => {
              console.log('Câmera desligada após sucesso.')
              })
              .catch((err) => console.error('Erro ao desligar:', err))

          resultadoDiv.textContent = `Acesso Liberado: ${dados.nome}: ${dados.cargo}: ${dados.empresa}`
          resultadoDiv.className = 'autorizado'

          setTimeout(() => {
              //window.location.href = `/sucesso/?nome=${encodeURIComponent(dados.nome)}&codigo=${encodeURIComponent(dados.codigo)}`
              processando = false; //evitar processamento desnecessário
              const base_url = "{% url 'app_quiz:urlboas_vindas' cracha=0 %}".replace('0', dados.id);
              window.location.href = base_url;
          }, 1500)
          console.log('if autorizado ???????????????')
          } else {
          console.log('else ???????????????')
          resultadoDiv.textContent = `Acesso Negado: ${dados.mensagem}`
          resultadoDiv.className = 'negado'

          setTimeout(() => {
              resultadoDiv.textContent = 'Aguardando QR Code...'
              resultadoDiv.className = ''
              processando = false // Libera a câmera para a próxima pessoa!
          }, 3000) // 3000 = 3 segundos de espera para ler a mensagem
          }
      } catch (err) {
          console.error('Erro: ', err)
          resultadoDiv.textContent = 'Erro de conexão. Tente novamente.'
          resultadoDiv.className = 'negado'

          setTimeout(() => {
          resultadoDiv.textContent = 'Aguardando QR Code...'
          resultadoDiv.className = ''
          processando = false
          }, 3000)
      }
      }

      function onScanSuccess(decodedText) {
      if (!processando) {
          // processando = true; // Trava o leitor temporariamente
          validarNoServidor(decodedText)
      }
      }

      const html5QrCode = new Html5Qrcode('reader')
      html5QrCode
      .start(
          { facingMode: 'user' }, // Tenta usar a câmera traseira
          { fps: 10, qrbox: { width: 250, height: 250 } },
          onScanSuccess
      )
      .catch((err) => {
          console.error('Erro na câmera: ', err)
          resultadoDiv.textContent = 'Erro ao ligar a câmera.'
      })
  </script>  

  
{% endblock %}

